doctype html
html(lang='en')
  head
    title Mirica Constantin Pictor
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800', rel='stylesheet', type='text/css')
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
  body
    
    include assets/css/4-pages/header
    include assets/css/4-pages/youtube
    include assets/css/4-pages/galerie
    include assets/css/4-pages/despre
    include assets/css/4-pages/info
    
    
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/functions.js', type='text/javascript')