mixin gallery(link)
    figure
        img(src="#{link}")
        .overlay
           .lupa

section.galerie
    .wrapper
        .col-text
            h3.titlu   galerie
            span.vertical
            a(href="#").more vezi mai mult
        .col-img
            +gallery("assets/img/13.jpg")
            +gallery("assets/img/19.jpg")
            +gallery("assets/img/23.jpg")
            +gallery("assets/img/25.jpg")
            +gallery("assets/img/27.jpg")
            +gallery("assets/img/43.jpg")
            
    .img-open
        .content
            .close-btn
            img(src="assets/img/bad.jpg").overlay-bg
             
                