section.header
    h1.main-title MIRICĂ CONSTANTIN
    ul.nav
        li
            a(href="#") ACASA
        li
            a(href="#") Galerie
        li
            a(href="#") Lucrari
        li
            a(href="#") Despre
       